.nav a {
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    border: 1px solid black;
    margin: 2vh;
    color: black;
    background-color: aqua;
    padding: 0.5rem;
}

.nav{
    position: relative;
    padding: 4vh 0px;
    background-color: black;
}

.wrap{
 float: right;
}

.wrap a{
    /*display: none;*/
    border-radius: 1.3rem;
}