.nav a{
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    border: 1px solid black;
    margin: 2vh;
    color: black;
    background-color: aqua;
    padding: 0.5rem;
}

.nav{
    position: absolute;
    padding: 4vh 0px;
    background-color: black;
    width: 80vw;
    right: 0;
    margin: 0px !important;
    height: 2vh;
}

.wrap{
 float: right;
}

.wrap a {
    /*display: none;*/
    border-radius: 1.3rem;
}

.logo {
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    border: 1px solid black;
    margin: 3vh;
    color: black;
    background-color: aqua;
    padding: 0.5rem;
    height: 2vh;
}

.text{
    color: whitesmoke;
    padding: 2px;
}